[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
asyncio = "*"
pandas = "*"
pymongo = "*"
motor = "*"
python-dotenv = "*"
requests = "*"
typing-extensions = "*"
typing = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
pipenv = "*"
install = "*"
black = "==21.5b1"
flake8-isort = '==4.1.2.post0'
pre-commit = "*"
pyright = "==1.1.276"
pydocstyle = "*"
pytest = "==7.1.0"
ipykernel = "*"
ipython = "*"

[requires]
python_version = "3.10.4"
